.signup-card {
    background-color: $white;
    padding: 2rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
}
.form_header {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: $brand-secondary;
}
.form_definition {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    color: $neutral-300;
    line-height: 1.5;
}
.form-group {
    margin-bottom: 1.2rem;
}
.form-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;

    &:focus {
        outline: none;
        border-color: $brand-primary;
    }
}
.form-row {
    display: flex;
    gap: 1rem;
}
.form-row .form-group {
    flex: 1;
}
.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: $brand-secondary;
}
button[type="submit"] {
    width: 100%;
    padding: 1rem;
    background-color: $brand-primary;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    &:hover {
        background-color: $brand-secondary;
    }
}