// Brand Colors
$brand-primary:   #54b848; 
$brand-secondary: #003f2d; 
$brand-tertiary:  #038203;

// Neutral & Background Colors
$surface-bg:      #F5F9F7; 
$white:           #ffffff;
$neutral-100:     #f9f9f9;
$neutral-300:     #757575; 

// Functional Colors
$error-color:     #d32f2f; 

//Fonts
$font-primary: "Inter", sans-serif;