/* main page.scss 
   This file imports all components and defines global styles.
*/
@use './variables' as vars;
@use './monolith';
@use './footer';

:root {
    --td-green: #{vars.$brand-primary}; 
    --neon-green: #{vars.$theme-neon-green}; 
    --dark-bg: #{vars.$theme-dark-bg}; 
    --glass: #{vars.$theme-glass-bg};
    --border: #{vars.$theme-border-glow}; 
}


html {
    height: 100%;
}

body {
    
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    
    display: flex;
    flex-direction: column; 
    
    background-color: vars.$theme-dark-bg; 
    color: white; 
    font-family: vars.$font-primary; 
}

/* 4. BACKGROUND part */
#glitch-bg {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 0;
    opacity: 0.6; 
    pointer-events: none;
}

/* CONTENT WRAPPER */
.content-wrapper {
    position: relative;
    z-index: 10;
    width: 100%;
    padding: 20px;
    
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.footer {
    z-index: 10;
}


